@page "/dashboard/{componentType}"
@rendermode InteractiveServer


<div class="sidebar">
	<NavBar />
</div>

<div class="d-flex flex-column" style="padding:2vh; background:#3E7E55; width:100%; height:100%; ">
	<div class="col-12 flex-grow-1" style="height: 100%; width:100%;">
		<div class="content px-4 py-3" style="overflow-x:auto; background-color: white; height: 100%; width:100%; border-radius:2vh; scrollbar-width:none;">
			@if (componentType == ApplicationPages.HomePage)
			{
				<HomeComponent />
			}
			else if (componentType == ApplicationPages.SearchPage)
			{

				<ProductSearchComponent />
			}
			else if (componentType == ApplicationPages.ItemPage)
			{
				<MyItemsComponent />
			}
			else if (componentType == ApplicationPages.NewItemPage)
			{
				<AddToInventoryComponent />
			}
			else if (componentType == "CurrentItem")
			{
				<ItemDisplayComponent />
			}
			else if (componentType == ApplicationPages.SettingsPage)
			{
				<SettingsComponent />
			}
		</div>
	</div>
</div>



@code {
    [Parameter]
    public string componentType { get; set; } = ApplicationPages.HomePage;
}

