@using FlipBuddyWebApplication.Client.Components
@using FlipBuddyWebApplication
<PageTitle>Dashboard</PageTitle>

<!-- Page Content -->
<div class="col d-flex flex-column full-height" style="width: 100%;">

    <!-- Overview Row -->
    <div class="row my-3">
        <div class="col-2">
            <h1 class="fw-bold fs-3">Explore</h1>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="Search by product name or barcode" aria-label="Search" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-2">
            
        </div>
    </div>

    <!-- Portfolio and Top Selling Categories Row -->
    <div class="row">

       
       
    </div>

    <div class="row">
        <div class="col">
            <div class="container">

            </div>

        </div>
        <div class="col">
            <div class="container">

            </div>
        </div>
    </div>
  
</div>


<!-- Styles -->
<style>
    .rounded-pill {
        background-color: #EAEEE5;
        padding: 10px 25px;
        display: inline-block;
    }
  
</style>
