@using FlipBuddyWebApplication.Client.Components
@using FlipBuddyWebApplication
@using FlipBuddyWebApplication.Domain.Models
@using FlipBuddyWebApplication.Persistence.API
@using FlipBuddyWebApplication.Persistence.API.ApiResponses
@inject ExternalApiService ExternalAPIService
@rendermode InteractiveServer

<PageTitle>Search</PageTitle>

<!-- Page Content -->
<div class="col d-flex flex-column full-height" style="width: 100%;">

    <!-- Overview Row -->
    <div class="row my-3">
        <div class="col-2">
            <h1 class="fw-bold fs-3">Explore</h1>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="Search by product name or barcode" aria-label="Search" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-2">
            
        </div>
    </div>

    <!-- Portfolio and Top Selling Categories Row -->
    <div class="row">

       
       
    </div>

    <div class="row">
        <div class="col">
            <div class="container">
                @foreach (var category in Categories.Take(Categories.Count /2))
                {
					<div class="container rounded-3 shadow-sm py-1 my-4">
						<div class="row px-3">
							<div class="col-10">
								<h5 class="fw-bold fs-5">@category.Name</h5><p>@category.Bio</p>
							</div>
							<div class="col-2" style=" display:flex; justify-content:center; align-items:center;">
								<h5 class="fw-bold fs-4">5K</h5>
							</div>
                        </div>                     
                    </div>    
                }
            </div>
        </div>
        <div class="col">
            <div class="container">
                @foreach (var category in Categories.Skip(Categories.Count / 2))
                {
                    <div class="container rounded-3 shadow-sm py-1 my-4">
                        <div class="row px-3">
                            <div class="col-10">
                                <h5 class="fw-bold fs-5">@category.Name</h5><p>@category.Bio</p>
                            </div>
                            <div class="col-2" style=" display:flex; justify-content:center; align-items:center;">
                                <h5 class="fw-bold fs-4">5K</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
  
</div>


<!-- Styles -->
<style>
    .rounded-pill {
        background-color: #EAEEE5;
        padding: 10px 25px;
        display: inline-block;
    }
  
</style>

@code
{
    private List<Category> Categories { get; set; } = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        var response = (await ExternalAPIService.GetAPIResponse<GetAllCategoriesAPIResponse>("https://localhost:7294/Category/GetAllCategories"));
        ArgumentNullException.ThrowIfNull(response.categories);
        Categories = response.categories.Select(_ => _.AsDomainCategory()).ToList();
    }
}