

<div class="pb-3">
    <table class="table table-borderless" style="border-spacing:0,10px;">
        <tbody>
            <tr class="fw-bold ">             
                <td><i class="bi bi-phone py-2 px-3 rounded-3 shadow-sm" style="font-size:30px; color:white; background-color:#2979FF;"></i></td>
                <td class="fs-5">Mobile Devices</td>
          

            </tr>
            <tr class="fw-bold ">              
                <td><i class="bi bi-joystick py-2 px-3 rounded-3 shadow-sm" style="font-size:30px; color:white; background:#1DE9B6;"></i></td>
                <td class="fs-5">Video Games</td>

            </tr>
            <tr class="fw-bold ">
                <td><i class="bi bi-handbag py-2 px-3 rounded-3 shadow-sm" style="font-size:30px; color:white; background:#FFC400"></i></td>
                <td class="fs-5">Accessories</td>

            </tr>
        </tbody>
    </table>
</div>

@code {

}
